/* Import webfonts */
/* Look back at previous resources to reset most of the default browser styles, paddings, etc. */
@font-face {
  font-family: 'norsebold';
  src: url('/norse_bold-webfont.woff2') format('woff2'),
    url('/norse_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  min-height: 100%;

  display: flex;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
}

body {
  display: flex;
}

aside {
  min-height: 100%;
  position: relative;
  flex: 0 0 37%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/leaf-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-weight: bold;
}

.logo-box {
  position: absolute;
  top: 280px;
  width: 100%;
  height: 180px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 50%);
}

.logo-box h1 {
  font-family: "norsebold";
  font-size: 96px;
  color: white;
}

.logo-box img {
  height: 80%;
}

aside p {
  margin: 8px;
  position: absolute;
  bottom: 8px;
  color: white;
  text-align: center;
}

aside p a {
  color: white;
}

button {
  background-color: "#596D48";
}

main {
  margin: 80px;
  flex: 0 0 auto;
}
