/* Import webfonts */
/* Look back at previous resources to reset most of the default browser styles, paddings, etc. */
@font-face {
  font-family: 'norsebold';
  src: url('/norse_bold-webfont.woff2') format('woff2'),
    url('/norse_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-grey: #f8f8f8;
  --fg-green: #596D48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  min-height: 100%;

  display: flex;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

aside {
  min-height: 100%;
  min-width: 450px;
  position: relative;
  flex: 0 0 37%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("/leaf-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-weight: bold;
}

.logo-box {
  position: absolute;
  top: 290px;
  width: 100%;
  height: 180px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 50%);
}

.logo-box h1 {
  font-family: "norsebold";
  font-size: 96px;
  color: white;
}

.logo-box img {
  height: 80%;
}

aside p {
  margin: 8px;
  position: absolute;
  bottom: 8px;
  color: white;
  text-align: center;
}

aside p a {
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 0 0 63%;

  background-color: var(--bg-grey);
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 35%;
  padding: 40px;
}

.blurb>h1+h1 {
  padding-top: 40px;
}

.form-container {
  flex: 0 0 30%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;

  background-color: white;
  box-shadow: 2px 2px 16px lightgray;
}

form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  width: 30%;
}

label {
  color: grey;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  height: 40px;
}

.login {
  flex: 1 1 25%;
  padding: 40px;
}

#form-button {
  padding: 12px 56px;
  color: white;
  background-color: var(--fg-green);
  border-radius: 8px;
  border-color: var(--fg-green);
  font-weight: bold;
  font-size: 1.2rem;
}

.login p {
  margin-top: 40px;
  font-size: 1.2rem;
}

.login a {
  font-weight: bold;
  color: var(--fg-green);
}
